*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root{
--sidebar: rgba(0, 0, 0, 1);
--navbar: rgba(8, 11, 18, 1);
--bodycolor: rgba(20, 25, 34, 1);
--textcolorside: rgb(46, 45, 45);
--textcolorbody: rgba(90, 90, 90, 1);
--textplaynow: rgba(113, 113, 113, 1);
--playnow: rgba(121, 124, 128, 1);
--titlecolorbody: rgba(255, 255, 255, 1);
}

.flex{
    display: flex;
}

.body_container{
    width: 100%;
    height: calc(100vh - 70px);
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
}

/* /common */


.sidebar{
    width: 230px;
    height: 100%;
    background-color: var(--sidebar);
    flex-direction: column;
    padding: 20px;
}

.logo{
    width: 60%;
    padding-bottom: 30px;
}

.home,.search,.library{
    line-height: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
}


.fa-solid{
   font-size: 40px;
   width: 33px;
   color: #a3a3a3;
   margin-bottom: 15px;
}

.icona{
    width: 28px;
    float: left;
    margin-right: 8px;

}

.home>a, .search>a, .library>a {
    float: left;
    font-size: 14px;
    color: var(--textcolorbody);
}


.home>a{
    color: white;
}

.playlist{
    margin-top: 15px;
    height: 100%;
    overflow: hidden;
}

.nuova>h4{
    color: white;
    font-size: 16px;

}

.nuova{
    line-height: 50px;
    vertical-align: middle;
    height: 55px;
}

.nuova a{
    color: lightgray;
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

li{
    margin-bottom: 22px;
}

ul{
    list-style: none;
    height: calc(100vh - 98px);
    overflow: auto;
}

li a {
    color: var(--textcolorbody);
    font-size: 14px;
}


.utente{
    color: var(--textcolorbody);
    height: 40px;
    margin-top: auto;
}

.installa{
    border-bottom: 1px solid var(--textcolorbody);

}

.installa a {
    color: var(--textcolorbody);
}

.installa img{
    width: 15px;
}

.profilo{
    margin-top: 12px;
    line-height: 20px;
    vertical-align: middle;
}

.profilo a {
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.profilo img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--textcolorbody);
    float: left;
}

