*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root{
--sidebar: rgba(0, 0, 0, 1);
--navbar: rgba(8, 11, 18, 1);
--bodycolor: rgba(20, 25, 34, 1);
--textcolorside: rgb(46, 45, 45);
--textcolorbody: rgba(90, 90, 90, 1);
--textplaynow: rgba(113, 113, 113, 1);
--playnow: rgba(121, 124, 128, 1);
--titlecolorbody: rgba(255, 255, 255, 1);
--succes: rgba(173, 255, 47, 1);
--playng:rgba(40, 40, 40, 1);


}

.flex{
    display: flex;
}

.body_container{
    width: 100%;
    height: calc(100vh - 80px);
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bodycolor);
}
a{
    text-decoration: none;
    font-weight: bold;
}

/* /common */

/* sidebar */
.sidebar{
    width: 230px;
    height: 100%;
    background-color: var(--sidebar);
    flex-direction: column;
    padding: 20px;
}

.logo{
    width: 60%;
    padding-bottom: 30px;
}

.home,.search,.library{
    line-height: 28px;
    vertical-align: middle;
    margin-bottom: 10px;
}


.fa-plus-square{
   font-size: 40px;
   width: 33px;
   color: var(--textcolorbody);
   margin-bottom: 15px;
}

.icona{
    width: 28px;
    float: left;
    margin-right: 8px;

}

.home>a, .search>a, .library>a {
    float: left;
    font-size: 14px;
    color: var(--textcolorbody);
}


.home>a{
    color: white;
}

.playlist{
    margin-top: 15px;
    height: 100%;
    overflow: hidden;
}

.nuova>h4{
    color: white;
    font-size: 16px;

}

.nuova{
    line-height: 50px;
    vertical-align: middle;
    height: 55px;
}

.nuova a{
    color: lightgray;
    float: left;
    font-size: 16px;
    padding-left: 5px;
}

li{
    margin-bottom: 22px;
}

ul{
    list-style: none;
    height: calc(100vh - 98px);
    overflow: auto;
}

li a {
    color: var(--textcolorbody);
    font-size: 14px;
}


.utente{
    color: var(--textcolorbody);
    height: 40px;
    margin-top: auto;
}

.installa{
    border-bottom: 1px solid var(--textcolorbody);

}

.installa a {
    color: var(--textcolorbody);
}

.installa img{
    width: 20px;
}

.profilo{
    margin-top: 12px;
    line-height: 20px;
    vertical-align: middle;
}

.profilo a {
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.profilo img{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--textcolorbody);
    float: left;
}
/* /sidebar */

/* main song */
.main_container{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--bodycolor);
}

.head{
    width: 100%;
    height: 102px;
    background-color: var(--navbar);
    align-items: center;
    justify-content: flex-end;
}

/* played recently */
#played h2 {
    color: white;
    padding: 20px 0px;
    margin-left: 20px;
}

.played_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.played_element {
    flex-basis: calc(100% / 6);
    margin: 0 10px;
    padding-bottom: 20px;
    text-align: center;
}

.played_element .cover {
    position: relative;
}

.played_element .cover img {
    width: 100%;
}

#play{
    size: 60px;
}

.played_element .cover .img_hover {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}
.played_element:hover {
    cursor: pointer;
}
  
.played_element:hover .cover img {
    opacity: 0.5;
}
  
.played_element:hover .cover .img_hover {
    display: block;
}

.played_element .cover_text h3 {
    color: white;
    padding-top: 10px;
    line-height: 16px;
  }
  
.played_element .cover_text p {
    color: #999999;
    font-size: 13px;
    padding-top: 10px;
}
  

  

/* /played recently */
.btn{
    padding: 12px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 16px;
    font-size: 14px;

}


.nav{
    justify-content: center;
    font-size: 12px;
    flex-wrap: wrap;
    margin: auto;
}

nav  a {
    padding: 20px 7px;
    color: var(--textcolorbody);
}

.cont_overflow{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

.selezionato{
    position: relative;
}
#verde{
   width: 50%;
   border-bottom: 2px solid var(--succes);
   margin-left: 17px;
   margin-top: 5px;
    
}

/* playng */

.nowplaying{
    width: 100%;
    height: 90px;
    background-color: var(--playng);
    justify-content: space-between;
    position: relative;
}

.cont_img{
    width: 42px;
}

.cont_img img{
    width: 100%;
}

.traccia{
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.nome a{
    font-size: 15px;
    color: white;
}

.artista a{
    font-size: 11px;
    color: white;
}

.icona-traccia{
    flex-wrap: wrap;
    justify-content: center;
}

.icona-traccia i{
    color: var(--textcolorbody);
    margin: 0 9px;
}

.buttontime_line{
    flex-direction: column;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
}

.time_btn{
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.time_btn i{
    color: white;
}

.fa-circle-play {
    font-size: 30px;
}

.passato,.rimasto{
    font-size: 12px;
    color: white;
}

.time_line {
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    width: 35vw;
}

.barside{
    width: 85%;
    height: 4px;
    background-color: var(--textcolorbody);
    border-radius: 2px;
    margin: 0 5px;
}

.circle {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -7.5px;
    bottom: -5.5px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.slide {
    width: 25%;
    height: 4px;
    background-color: #a3a3a3;
    position: relative;
}

.right {
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    width: 200px;
}

.left {
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 210px;
}

.volume {
    width: 100%;
    height: 4px;
    background-color:var(--textcolorbody);
    border-radius: 2px;
}

.right i {
    margin: 0 5px;
}

a i {
    color: white;
}
